body{
  margin:0;
  font-family: "Segoe UI", sans-serif;
  background:#fff4e6;
  color:#333;
}

.cv{
  max-width:1000px;
  margin:40px auto;
  background:white;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

/* HEADER */
.header{
  background:linear-gradient(135deg,#ffb703,#fb8500);
  color:white;
  padding:30px;
  text-align:center;
}

.foto{
  width:140px;
  height:140px;
  object-fit:cover;
  border-radius:50%;
  border:5px solid white;
  margin-bottom:15px;
}

.header h1{
  margin:0;
  font-size:32px;
}

.header h2{
  margin-top:8px;
  font-size:18px;
  font-weight:400;
}

/* CONTENT */
.content{
  padding:35px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

.section{
  margin-bottom:20px;
}

.section h3{
  color:#fb8500;
  border-left:5px solid #fb8500;
  padding-left:10px;
  margin-bottom:10px;
}

.full{
  grid-column:1 / -1;
}

.fecha{
  font-style:italic;
  color:#666;
}

ul{
  margin-left:18px;
}

.tags{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.tag{
  background:#ffe0b2;
  padding:6px 14px;
  border-radius:20px;
  font-size:14px;
}

/* FOOTER */
.footer{
  background:#fff4e6;
  text-align:center;
  padding:15px;
  font-size:13px;
  color:#666;
}

@media(max-width:800px){
  .content{
    grid-template-columns:1fr;
  }
}
